<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuYS4_VxJmJqqEoty2JRn42Xh6-83lzcE</string>
	<key>GCM_SENDER_ID</key>
	<string>1072725472205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developers.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-fe51e</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-fe51e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072725472205:ios:aae795b5a5cefdbaf60a84</string>
</dict>
</plist>